*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

/* header */

.header{
    background-color: #000;
    overflow: auto;
}

.header nav{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1{
    padding: 20px;
}

.header h1 a {
    color: #fff;
    text-decoration: none;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.header nav ul li{
    padding: 20px 0;
}

.header nav ul li a{
    color: #fff;
    padding: 25px;
    text-decoration: none;
}

.header nav ul li a:hover,
.active{
    background-color: #444;
}

/* section vp */

.vp{
    align-items: center;
    background: url(https://dyma-images.s3.fr-par.scw.cloud/html-css/projects/project1/cafe1.jpg);
    background-size: cover;
    display: flex;
    height: 70vh;
    justify-content: center;
    text-align: center;

}

.vpContent{
    color: #fff;
    max-width: 600px;
}

.vpContent h2{
    display: flex;
    font-size: 3rem;
    position: relative;
    padding-bottom: 30px;
}

.vpContent h2::after{
    background-color: #000;
    bottom: 0;
    content: "";
    height: 10px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100px;
}

.vpContent p{
    font-size: 18px;
    margin: 20px 0;
    letter-spacing: 0.5px;
    line-height: 1.9em;
}

.btn{
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 25px;
    text-decoration: none;
}

.btnBlanc{
    background: #fff;
    color: #222;
}

.btnBlanc:hover{
    background-color: #222;
    color: #fff;
}

/* section features */

.features{
    align-items: center;
    display: flex;
    height: 40vh;
    justify-content: space-evenly;
}

.feature{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.feature h3{
    margin: 20px 0;
}

/* background personne */

.personne{
    height: 40vh;
    background: url(https://dyma-images.s3.fr-par.scw.cloud/html-css/projects/project1/cafe3.jpg) center center/cover;
}

/* section reservation */

.reservation{
    align-items: center;
    display: flex;
    height: 40vh;
    justify-content: center;    
}

.reservation .container{
    max-width: 1000px;
    text-align: center;
}

.reservation p{
    margin: 20px 0;
}

.btnNoir{
    background: #222;
    color: #fff;
}

.btnNoir:hover{
    border: 1px solid black;
    background: #fff;
    color: #222;
    margin: -1px;
}

/* footer */

footer{
    background: #222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

/* page where */

.where{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.where .container{
    display: flex;
    justify-content: space-evenly;
}

.whereImg, .whereText{
    width: 45%;
}

.whereText h2{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.whereText h3{
    margin: 20px 0;
}

.chip{
    display: inline-block;
    text-align: center;
    width: 30px;
    border-radius: 100%;
    background: #333;
    color: white;
}

.chipPurple{
    background: #be418c;
}

.chipBrown{
    background: #8c5e24;
}